
.rotating-square {
    margin: 100px;
    width: 100px;
    height: 100px;
    background-color: purple;
    animation: rotate 4s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
