.animated-box {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    animation: moveAndChangeColor 5s infinite;
}

@keyframes moveAndChangeColor {
    0% {
        left: 0;
        background-color: blue;
    }
    50% {
        left: 200px;
        background-color: red;
    }
    100% {
        left: 0;
        background-color: blue;
    }
}
